* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

Body
{
    background-color: rgb(54, 90, 138);
    text-align: center;
    color: black;
}

button
{
    border-color: rgb(3, 1, 99);
    border-style: outset;
    border-radius: 10px;
    text-decoration: solid;
}
